<section class="sante-physique title">
  <header class="row">
      <h2>SANTE PHYSIQUE</h2>
  </header>
</section>
<form>
  <section id="bilan-sante" class="container">
    <fieldset id="bilan_sante">
      <legend>Bilan de santé</legend>

      <div class="row">
        <p><strong>Médecin référent</strong></p>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="nom_medecin">Nom</label>
          <input type="text" class="form-control" id="nom_medecin" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="prenom_medecin">Prénom</label>
          <input type="text" class="form-control" id="prenom_medecin" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="cp">Code postal</label>
          <input type="text" class="form-control" id="cp" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-4">
          <label for="telephone">Téléphone</label>
          <input type="text" class="form-control" id="tel" placeholder="">
        </div>
        <div class="form-group col-md-8">
          <label for="mail">Email</label>
          <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="">
        </div>
      </div>
    <br>
      <div class="row">
        <p><strong>Gynécologue référent</strong></p>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="nom_gyneco">Nom</label>
          <input type="text" class="form-control" id="nom_gyneco" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="prenom_gyneco">Prénom</label>
          <input type="text" class="form-control" id="prenom_gyneco" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-6">
          <label for="adresse">Adresse</label>
          <input type="text" class="form-control" id="adresse" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="cp">Code postal</label>
          <input type="text" class="form-control" id="cp" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="ville">Ville</label>
          <input type="text" class="form-control" id="ville" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-4">
          <label for="telephone">Téléphone</label>
          <input type="text" class="form-control" id="tel" placeholder="">
        </div>
        <div class="form-group col-md-8">
          <label for="mail">Email</label>
          <input type="email" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="">
        </div>
      </div>
      <br>

      <div class="row">
          <p><strong>Bilan</strong></p>
        </div>
      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="depistage">Dépistage</label>
          <input type="text" class="form-control" id="depistage" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="bilan_gyneco">Bilan gynécologique</label>
          <input type="text" class="form-control" id="bilan_gyneco" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="test_grossesse">Test de grossesse</label>
          <input type="text" class="form-control" id="test_grossesse" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="bilan_dentaire">Bilan dentaire</label>
          <input type="text" class="form-control" id="bilan_dentaire" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="bilan_ophtalmo">Bilan ophtalmologique</label>
          <input type="text" class="form-control" id="bilan_ophtalmo" placeholder="">
        </div>
      </div>

      <div class="form-group row">
      <div class="form-group col-md-6">
        <label for="vaccinations">Vaccinations</label>
        <textarea class="form-control" id="vaccinations" rows="3"></textarea>
      </div>
      
      <div class="form-group col-md-6">
          <label for="vaccinations">Rappels</label>
          <div class="form-group">
            <label for="vaccinations">1er rappel :</label>
            <input type="date" class="form-control" id="premier_rappel" placeholder="">
          </div>
          <div class="form-group">
            <label for="vaccinations">2ème rappel :</label>
            <input type="date" class="form-control" id="deuxieme_rappel" placeholder="">
          </div>
          <div class="form-group">
            <label for="vaccinations">3ème rappel :</label>
            <input type="date" class="form-control" id="troisieme_rappel" placeholder="">
          </div>
      </div>
     </div>
    
     <div class="form-group row">
        <div class="form-group col-md-12">
          <label for="autre">Autre</label>
          <input type="text" class="form-control" id="autre" placeholder="">
        </div>
      </div>

    </fieldset>
  </section>
</form>

<form>
    <section id="suivi-sante" class="container">
      <fieldset id="suivi_sante">
        <legend>Suivi de santé</legend>

        <ngb-accordion (panelChange)="beforeChange($event)">
            <ngb-panel id="preventchange-1" title="Suivi du dd/mm/yyyy">
              <ng-template ngbPanelContent>
                  <div class="container" id="fiche-suivi-sante">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="date">Date</label>
                        </div>
                        <div class="col-md-4">
                          <input type="date" class="form-control" id="" placeholder=""> 
                        </div>
                        <div class="col-md-1">
                          <label for="medecin">Médecin</label>
                        </div>
                        <div class="col-md-5">
                            <textarea class="form-control" id="" rows="1"></textarea>
                          </div>
                        </div>
          
                        <div class="row">
                            <div class="col-md-2">
                                <label for="objet-rdv">Objet RDV</label>
                            </div>
                            <div class="col-md-4">
                              <input type="text" class="form-control" id="" placeholder=""> 
                              
                            </div>
                            <div class="col-md-1">
                                <label for="lieu">Lieu</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="" placeholder=""> 
                            </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-group col-md-12">
                                  <label for="diagnostic">Diagnostic</label>
                                  <textarea class="form-control" id="diagnostic" rows="1"></textarea>
                                  <label for="prescriptions">Prescriptions</label>
                                  <textarea class="form-control" id="prescriptions" rows="1"></textarea>
                                  <label for="observations">Observations</label>
                                  <textarea class="form-control" id="observations" rows="1"></textarea>
                                  <label for="a-faire">À faire</label>
                                  <textarea class="form-control" id="a-faire" rows="1"></textarea>
                                </div>
                              </div>
                      </div>
              </ng-template>
            </ngb-panel>
            
            <ngb-panel id="preventchange-2" title="Suivi du dd/mm/yyyy">
              <ng-template ngbPanelContent>
                  <div class="container" id="fiche-suivi-sante">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="date">Date</label>
                        </div>
                        <div class="col-md-4">
                          <input type="date" class="form-control" id="" placeholder=""> 
                        </div>
                        <div class="col-md-1">
                          <label for="medecin">Médecin</label>
                        </div>
                        <div class="col-md-5">
                            <textarea class="form-control" id="" rows="1"></textarea>
                          </div>
                        </div>
          
                        <div class="row">
                            <div class="col-md-2">
                                <label for="objet-rdv">Objet RDV</label>
                            </div>
                            <div class="col-md-4">
                              <input type="text" class="form-control" id="" placeholder=""> 
                              
                            </div>
                            <div class="col-md-1">
                                <label for="lieu">Lieu</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="" placeholder=""> 
                            </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-group col-md-12">
                                  <label for="diagnostic">Diagnostic</label>
                                  <textarea class="form-control" id="diagnostic" rows="1"></textarea>
                                  <label for="prescriptions">Prescriptions</label>
                                  <textarea class="form-control" id="prescriptions" rows="1"></textarea>
                                  <label for="observations">Observations</label>
                                  <textarea class="form-control" id="observations" rows="1"></textarea>
                                  <label for="a-faire">À faire</label>
                                  <textarea class="form-control" id="a-faire" rows="1"></textarea>
                                </div>
                              </div>
                      </div>
              </ng-template>
            </ngb-panel>

            <ngb-panel id="preventchange-3" title="Suivi du dd/mm/yyyy">
              <ng-template ngbPanelContent>
                  <div class="container" id="fiche-suivi-sante">
                      <div class="row">
                        <div class="col-md-2">
                          <label for="date">Date</label>
                        </div>
                        <div class="col-4">
                          <input type="date" class="form-control" id="" placeholder=""> 
                        </div>
                        <div class="col-md-1">
                          <label for="medecin">Médecin</label>
                        </div>
                        <div class="col-md-5">
                            <textarea class="form-control" id="" rows="1"></textarea>
                          </div>
                        </div>
          
                        <div class="row">
                            <div class="col-md-2">
                                <label for="objet-rdv">Objet RDV</label>
                            </div>
                            <div class="col-md-4">
                              <input type="text" class="form-control" id="" placeholder=""> 
                              
                            </div>
                            <div class="col-md-1">
                                <label for="lieu">Lieu</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="" placeholder=""> 
                            </div>
                            </div>
                            
                            <div class="form-group row">
                                <div class="form-group col-md-12">
                                  <label for="diagnostic">Diagnostic</label>
                                  <textarea class="form-control" id="diagnostic" rows="1"></textarea>
                                  <label for="prescriptions">Prescriptions</label>
                                  <textarea class="form-control" id="prescriptions" rows="1"></textarea>
                                  <label for="observations">Observations</label>
                                  <textarea class="form-control" id="observations" rows="1"></textarea>
                                  <label for="a-faire">À faire</label>
                                  <textarea class="form-control" id="a-faire" rows="1"></textarea>
                                </div>
                              </div>
                      </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          
          <div class="row">
              <div class="col-md-11"></div>
              <div class="col-md-1 d-flex justify-content-end">
                  <button type="button" (click)="addRow()" class="btn btn-outline-secondary btn-plus">
                      <i class="fa fa-plus-circle"></i>
                  </button>
              </div>
          </div>

          <table class="row sante-phys-form-suivi">
            <tr class="table-headers">
                <th>Date</th>
                <th>Responsable</th>
                <th>Commentaires</th>
            </tr>
            
             <tr data-row-id="num" class="table-content" #id>
                 <td>
                    <input data-date="" class="form-control" type="date" name="sante-phys-suivi-date" id="sante-phys-suivi-date" #date>
                 </td>
                 <td>
                     <input data-resp="" class="form-control" type="text" name="sante-phys-suivi-responsable" id="sante-phys-suivi-responsable" [(ngModel)]="respo" #resp>
                 </td>
                 <td>
                     <textarea class="form-control" name="sante-phys-suivi-commentaires" id="sante-phys-suivi-commentaires" cols="50" rows="1" placeholder="{{respo}}" #com></textarea>
                 </td>
             </tr>
            
            <app-fiche-sante-commentaire class="com-repeat" *ngFor="let com of maxLineMeeting.slice(0, num)">
            </app-fiche-sante-commentaire>
        </table>

                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1 d-flex justify-content-end">
                        <button type="button" (click)="addRow()" class="btn btn-outline-secondary btn-plus">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </div>
                </div>

        </fieldset>
    </section>
  </form>
