<div class="container flex-column">
    <router-outlet></router-outlet>
 </div>

<!-- Boutons à garder -->
<div class="form-group row">
    <div class="form-group col-7"></div>
    <div class="form-group col-2">
      <button type="button" class="btn btn-outline-secondary btn-historique">
        <i class="fa fa-history">
          <span class="btn_uni">Historique</span>
        </i>
      </button>
    </div>
    <div class="form-group col-3">
      <button type="button" class="btn btn-dark">
        <i class="fa fa-download">
          <span class="btn_uni">Sauvegarder</span>
        </i>
      </button>
    </div>
</div>