<div class="container">
    <section class="admission-suivi">
        <h3>Suivi social antérieur</h3>

        <form action="" method="post" class="admission-suivi-form">
            <section class="suivi-oui col">
                <input type="radio" name="suivi" id="suivi-oui" value="true">
                <label for="suivi-oui">Oui</label>
                <br>
                <label for="suivi-commentaires">Commentaires :</label>
                <textarea name="suivi" id="suivi-commentaires" cols="50" rows="5"></textarea>
            </section>

            <section class="suivi-non col">
                <input type="radio" name="suivi" id="suivi-non" value="false">
                <label for="suivi-non">Non</label>
            </section>
        </form>
    </section>
</div>