<div data-row-id="numCont" class="form-group row divtableau" #id>
    <div class="form-group col-6 contratsCols">
      <input data-contrat="" type="text" class="form-control intitule_contrat" id="contrat2" placeholder="" #contrat>
    </div>
    <div class="form-group col-3 contratsCols">
      <input data-date-debut="" type="date" name="datecontrat2" id="datecontrat2" class="datepickNoBorder" #dateDebut>
    </div>
    <div class="form-group col-3 contratsCols">
      <input data-date-fin="" type="date" name="fincontrat2" id="fincontrat2" class="datepickNoBorder" #dateFin>
    </div>
</div>